
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="javascript"></p>
    <p id="demo"></p>
    <p id="carO"></p>
    <p id=" Wlength"></p>


</div>


@section Scripts {
    <script src="~/js/JavaScript.js"></script>
    
}